@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600,700');
@font-face {
  font-family: 'Bebas';
  src: url('fonts/BEBAS___.eot'); /* IE9 Compat Modes */
  src: url('fonts/BEBAS___.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/BEBAS___.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/BEBAS___.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/BEBAS___.svg#Socialico') format('svg'); /* Legacy iOS */
}
.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {background: #fff;max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: 'Oswald', sans-serif;}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1200px;margin: 0 auto;position: relative;}
p {margin: 0; padding: 0;}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/* button
.btn {font-size: 15px; font-weight: 400; color: #000; display: inline-block; padding: 10px 30px; background: #fff; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;} */

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-size: 100px;font-weight: 100;color:#ccc;}
/*header*/
#header {position: absolute;font-family: 'Oswald', sans-serif; max-width: 100%; width: 100%; min-width: 1200px; z-index: 1;}
#header .navTop {background: rgba(255, 255, 255, 0.8); position: relative; top: 0; padding: 0 0 15px; width: 100%;}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li:first-of-type {padding: 0 65px 0 0;}
#header nav ul li:last-of-type {padding: 0 0 0 65px;}
#header nav ul li {display: inline-block;vertical-align: middle; padding: 0 65px;}
#header nav ul li a {font-size: 14px; font-weight: 400;}
#header nav ul li.active-menu a, #header nav ul li a:hover {}
#header .logo a {display: flex;}
#header .contacts {text-align: right; margin: 15px 0 30px;}
#header .contacts p:first-of-type {padding: 0 45px 0 0;}
#header .contacts p a {color: #000;}
#header .contacts p {display: inline-block; font-size: 20px; font-weight: 400;}
#header .contacts p img {padding: 0 15px 0 0;}

/*banner*/
#banner {position: relative; background: url("../images/common/header-bg.jpg") center center no-repeat; background-size: cover; padding: 530px 0 350px; font-family: 'Oswald', sans-serif;}
#banner p{max-width: 1210px; margin: 0 auto; background: rgba(0, 0, 0, 0.5); font-family: 'Bebas'; font-size: 50px; font-weight: 500; line-height: 1.3; letter-spacing: 2.5px; color: #fff;}
#banner p {padding: 40px 0 35px;}
#banner span {display: block;}

/*companyInfo*/
#companyInfo {position: relative; background: url("../images/common/banner-img.png") bottom right no-repeat, url("../images/common/banner-bg.png") center right no-repeat; background-size: 44.40357330530741%, cover; padding: 25px 0;}
#companyInfo .row {position: unset;}
#companyInfo .leftCont {max-width: 500px; text-align: left; margin: 100px 0;}
#companyInfo .rightCont {max-width: 525px; background: rgba(26, 57, 121, 0.89); padding: 35px 40px; text-align: left; color: #fff;}
#companyInfo .rightCont h2 {font-family: 'Oswald', sans-serif; font-size: 43px; font-weight: 600; text-align: center; color: #fff;}
#companyInfo h1 {font-size: 45px; font-weight: 400; color: #222222;}
#companyInfo p {margin: 40px 0; font-size: 16px; font-weight: 300; color: #333333;}
#companyInfo .btn {display: inline-block;}
#companyInfo .btn a {text-align: center; display: block; max-width: 160px; padding: 10px 40px; border: 3px solid #000; font-family: 'Oswald', sans-serif; font-size: 16px; font-weight: 300;}

/*companyInfo Form*/
#companyInfo .ctc-form {max-width: 460px}
#companyInfo .ctc-form input[type="text"], #companyInfo .ctc-form textarea {border-radius: 0; max-width: 450px; margin: 7px auto; font-family: 'Oswald', sans-serif; font-size: 16px; font-weight: 300; color: #333333; letter-spacing: 2px;}
#companyInfo .ctc-form .middleInputs input {max-width: 220px; display: inline-block; margin: 0 3px;}
#companyInfo .ctc-form .middleInputs label:nth-child(-n+2) input {margin: 0 3px 7px;}
#companyInfo .ctc-form button {font-family: 'Oswald', sans-serif;font-size: 18px;font-weight: 500;color: #333333;border: none;background: #fff;padding: 10px 54px;}
h2 {font-size: 45px; font-weight: 400;}

/*content*/
#content {background: url("../images/common/about-bg.png") center left no-repeat, #fff;}
#content .row {max-width: 100%; min-width: 1200px;}
#content .paraLeft {margin: 100px 0 0; display: inline-block;}
#content .contTop p {font-size: 35px; font-weight: 700; color: #000; text-align: right; padding: 0 0 30px;}
#content .contTop p:last-of-type {padding: 0;}
#content .contTop p img {padding:0 0 0 30px; margin: 0;}
#content .contTop img {display: block; float: right;}

#content .contTop {font-size: 0px;}
#content .contTop .cols {display: inline-block; vertical-align: bottom;}
#content .contTop .col-1, #content .contTop .col-2 {width: 350px;margin-right: 28px;}
#content .contTop .col-3 img{max-width: 378px; width:108%;}
#content .contTop .col-1 {background: #000; color: #fff;}
#content .contTop .col-1 .contInner {padding: 31px 50px; text-align: left;}
#content .contTop .col-1 p.aboutHD:after {color: #fff;content: ""; display: block; width: 155px; margin: 30px 0 15px; padding: 0; border: 3px solid #fff; border-radius: 5px;}
#content .contTop .col-1 p.aboutHD {color: #fff;font-size: 25px; font-weight: 700;text-align: left;}
#content .contTop .col-1 p.aboutInfo {color: #fff;font-size: 16px; font-weight: 300;text-align: left;}
#content .contTop .col-1 a {display: block; font-size: 16px; font-weight: 700; margin: 25px 0 0;color: #fff;}
#content .contTop .col-2 p span {display: block;color: #fff;}
#content .contTop .col-2 p {color: #fff;max-width: 300px; background: url("../images/content/border.png") center center no-repeat; background-size: 100% 100%; color: #212121; font-size: 35px; font-weight: 700; margin: 120px auto 0; padding: 25px 0;}

/* services */
#services {background: url("../images/common/services-bg.png") center center no-repeat; background-size: cover; padding: 155px 0;}
#services .servicesList {margin: 0 auto;}
#services .cols {width: 395px; display: inline-block; font-size: 25px; font-weight: 400; color: #333333;}
#services .cols ul {margin: 65px 0 0; padding: 0; list-style-type: none;}
#services .cols ul li {padding: 20px 0 0;}
#services h2:after { content: ""; display: block; width: 155px; margin: 35px auto 0; padding: 0; border: 3px solid #212121; border-radius: 5px;}
#services h2 {color: #0F3988;}
#services h3 {font-size: 45px; font-weight: 400; margin: 75px 0 0; color: #28ADEC;}

/*footer*/
#footer {background: #fff;}
#footer .contactus{padding: 120px 0 140px;}
#footer .contHD {font-size: 45px; font-weight: 400; color: #212122;padding: 0 0 60px;}
#footer .cols {display: inline-block; vertical-align: top;}
#footer .col-1 p, #footer .col-3 p{max-width:  165px; font-size: 20px; font-weight: 400; margin: 60px 0 0;}
#footer .col-2 p {font-size: 40px; font-weight: 400; padding: 0 215px; margin:45px 0 0;}
#footer .col-2 p:last-of-type {margin: 0;}
#footer .cols p {color: #212121;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}

/* footer navbar */
#footer .navBar {background: #0F3988; color: #fff;}
#footer .navBar ul {display: inline-block; list-style-type: none; padding: 0;}
#footer .navBar ul li {padding:  0 75px;display: inline-block;}
#footer img[alt="Footer Logo"] {position: absolute; margin: auto; top: -45px; left: 0; right: 0;}
#footer .navLeft, #footer .navRight {width: 50%;}
#footer .botFooter {padding: 40px 0;}
#footer .copy, .silver {color: #000;font-size:15px}

/*inner pages*/
div#contact-us-inner {background: #fff;padding: 140px;}
.inner #content .row {max-width: 1200px;}
.inner #content {background: #fff;min-height: 400px;padding: 70px 0 0;}
.inner #content h1, .inner #content p {color: #000;}
.inner #content p {font-size: 50px;}
.inner #companyInfo .rightCont{margin: 0 auto;}
.inner #companyInfo{background: none;padding: 0;margin: 0 -50px 0 0;}
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}

/*inner page about*/
#content .aboutus p {font-size: 21px; text-align: left; margin: 35px 0; line-height: 1.4;max-width: 640px}

/*inner page service*/
#content .service ul {margin: 30px 0; padding: 0; max-width: 365px; text-align: left;}
#content .service ul li {font-size: 25px;}

@media screen and (max-width: 1345px) {
	#companyInfo img {width: 795px;}
	#content .contTop p {font-size: 25px;}
}
@media screen and (max-width: 1200px) {
	#header .navTop .row {max-width: 95%;}
	#companyInfo .row {max-width: 95%;}
	#content .contTop p {font-size: 25px;}
}
